body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-image: linear-gradient(to right, #ffffff 55%, #f0f0f000), url(../webAssets/image1.jpg);
  background-size: cover;
}

.container {
  max-width: 900px;
  margin-left: 50px;
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10%;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  width: 60px;
}

.back-link {
  display: flex;
  color: #777;
  text-decoration: none;
  font-size: 15px;
  margin-left: 3%;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.backIcon{
  height: 20px;
  
}

.textHeaderh2{
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-weight:900;
}

.textHeader{
  margin: 0px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.formTextHeaderh2{
font-size: 40px;
margin-bottom: 10px;
}

.formTextHeaderp{
font-size: 20px;
margin: 0px;
}

.question-box {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  background: #fafafa;
}

.question-box label {
  display: block;
  margin: 8px 0;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: #0056b3;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.footer-logo {
  width: 300px;
  float: right;
  margin-top: 30px;
}

footer{
  justify-content: left;
}


/*FORM 2*/
.sqdAnswer{
  display: flex;
  gap: 50px;
}